[package]
edition = "2018"
build = "src/build.rs"
name = "cicada"
version = "0.9.11"
authors = ["Hugo Wang <w@mitnk.com>"]

description = "A simple Bash-like Unix shell."
repository = "https://github.com/mitnk/cicada"
keywords = ["shell", "unix"]
categories = ["command-line-utilities", "command-line-interface", "development-tools"]
license = "MIT"

[lib]
name = "cicada"
path = "src/lib.rs"

[[bin]]
name = "cicada"
doc = false

[dependencies]
chrono = "0.4"
errno = "0.2.0"
exec = "0.3.0"
glob = "0.3.0"
lazy_static = "1.3.0"
libc = "0.2.0"
linefeed = "0.6.0"
nix = "0.16.0"
pest = "2.0"
pest_derive = "2.0"
regex = "1"
structopt = "0.3"
yaml-rust = "0.4.0"
uuid = { version = "0.8", features = ["serde", "v4"] }

[dependencies.rusqlite]
version = "0.21.0"
features = ["bundled"]

[build-dependencies]
chrono = "0.4"
